hr
footer.footer 
    div.name Natours.io
    div.copy &copy; copy right Act 2022
    div.social 
                i.fa-brands.fa-facebook
                i.fa-brands.fa-instagram
                i.fa-brands.fa-twitters